.favorites {
  &__container {
    padding: 50px 0;
    border-bottom: 2px solid #737373;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      color: #737373;

      &:last-child {
        margin-bottom: 0;
      }

      &__text {
        cursor: pointer;
        margin-left: 10px;

        &.no-icon {
          margin-left: 0;
        }

        &.no-link {
          cursor: auto;
        }
      }
    }
  }
}
