.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 280px;
  min-height: 600px;
  width: calc(30vw - 72px);
  height: calc(100vh - 84px);
  backdrop-filter: blur(20px);
  padding: 42px 36px;

  &__scroll {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
  }
}
