.meteo__container {
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: white;
  display: flex;
  align-items: center;

  & > * {
    margin-right: 15px;
  }

  & > *:last-child {
    margin-right: 0;
  }

  &-temperature {
    font-size: 128px;
  }

  &-infos {
    &__city {
      font-size: 64px;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;

      &::selection {
        background-color: #424242;
      }
    }

    &__time {
      display: flex;
      justify-content: center;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      max-height: 78px;
    }
  }
}
